@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  padding: 0;
  margin: 0;
}
header nav ul li {
  display: inline-flex;
  text-decoration: none;
  background-color: white;
  position: fixed;
}
.title {
  text-align: center;
  color: white;
  background-image: url(../img/banner.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  height: 404px;
}
.icons h1,h2 {
  text-align: center;
}
i {
  background-color: hsl(214, 86%, 32%);
  color: white;
  height: 20px;
  width: 15px;
}
