@font-face {
  font-family: 'BrushScript';
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot');
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.woff') format('woff'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.svg#eb21f6604ba28d5573abad1c01255830') format('svg');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Fraktur';
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot');
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.woff') format('woff'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.svg#f78369fb7f540f355d128fc492e4218d') format('svg');
  font-style:   normal;
  font-weight:  400;
}
body {
  margin: 0;
}
#main_page {
  display: flex;
}
#main_page > img{
  border: 5px solid black;
  justify-content: flex-end;
}
