body {
  font-family: sans-serif;
  color: hsl(275, 51%, 47%);
  margin-left: 25%;
  margin-right: 25%;
}
h1, h2, h3, h4, p{
  margin: 0;
}
h2, h3, h4{
  margin-top: 20px;
}
section:nth-of-type(1) {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}
hr {
  margin-top: 100px;
  border-color: hsl(264, 64%, 72%);
  width: 5%;
}
h1 {
  display: flex;
  justify-content: center;
}
section:nth-of-type(2) {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-star;
  flex-direction: column;
}
input {
  width: 50%;
}
footer {
  display: flex;
  justify-content: flex-end;
}
img {
  justify-content: flex-start;
}
