/*
  lighten( 2 arguments );
  darken( 2 arguments );
  invert( 1 argument );
  complement( 1 argument );
  adjust-hue( 2 argument )
*/
div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

div ul {
  padding: 50px; }

li {
  list-style-type: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 50px; }

div ul li:nth-of-type(1) {
  color: black;
  background-color: #044e07; }

div ul li:nth-of-type(2) {
  color: black;
  background-color: #4e3e04; }

div ul li:nth-of-type(3) {
  color: black;
  background-color: #044e07; }

div ul li:nth-of-type(4) {
  color: black;
  background-color: #044e1f; }

div ul li:nth-of-type(5) {
  color: black;
  background-color: #044e2b; }

div ul li:nth-of-type(6) {
  color: black;
  background-color: #044e44; }

div ul li:nth-of-type(7) {
  color: black;
  background-color: #4e043f; }
